[2017-04-28 07:28] #318 closed

[2017-04-28 11:56] clemensg commented on #317
Hi, thanks! The root_path setting works!

However, I found two other problems with 0.4-alpha:
- After adding graphs, they are not visible in the Graphs list in the admin panel or on the main page. I can add it to a collection, but that collection is not visible either.
- When adding a rrd provider with an empty filter list, it crashes. I added the stderr output below.

[code]

[2017-04-28 16:20] vbatoufflet commented on #317
Crash has been fixed in 874d2fcb8434d1abe6e29b1eae7b211b3098b625.

Regarding the first problem, I can't manage to reproduce it. If you think of a way, please open a new issue with the details.

[2017-05-01 15:59] clemensg opened #320 "Graph created but not shown in 0.4"
Hi,

if a graph is created in the admin panel, the operation succeeds (and an entry is created in the SQLite database), but the graph is not visible in the list.
Interestingly, if I want to add the invisible graph to a collection, the autocompletion of the graph field does suggest its name and I can add it, however if I then add the collection, it is not visible either.

I am attaching the library

[2017-05-02 10:12] vbatoufflet commented on #320
Hi,

It seems to impact SQLite only and to be related to handling of boolean values when executing queries using this driver.

I'll try to find a fix for this quickly.

[2017-05-02 11:35] vbatoufflet commented on #320
Fixed in 459b53bcd19fe4e1d8720e7a3e88b1e0f2948148.

[2017-05-02 11:35] #320 closed

[2017-05-02 11:37] vbatoufflet commented on #320
I did find what caused SQLite to behave like this. You should be able to list your items now, but you'll have to delete the existing SQLite database file and reimport your dump.

[2017-05-03 16:18] clemensg commented on #320
Thanks! 👍

[2017-05-07 10:54] vbatoufflet commented on #221
Shipped in 2b988d3eaf805c7bb18f764b5d72e6a08f1d3d96.

[2017-05-07 10:54] #221 closed

[2017-05-07 10:56] vbatoufflet commented on #199
No longer relevant due to [0.4-alpha](https://github.com/facette/facette/tree/0.4-alpha) changes.

[2017-05-07 10:56] #199 closed

[2017-05-07 10:57] vbatoufflet commented on #187
Scales and units have been removed from Facette 0.4.

[2017-05-07 10:57] #187 closed

[2017-05-07 15:02] vbatoufflet commented on #160
Closing the issue for now. Please reopen if still relevant.

[2017-05-07 15:02] #160 closed

[2017-05-07 15:09] vbatoufflet commented on #180
See #317 for a possible cross-compilation solution.

[2017-05-07 15:09] #180 closed

[2017-05-07 15:12] vbatoufflet commented on #224
No longer relevant since Facette 0.4 implements pagination.

[2017-05-07 15:12] #224 closed

[2017-05-07 15:16] vbatoufflet commented on #230
Relates to #67.

[2017-05-07 15:16] #230 closed

[2017-05-07 15:19] vbatoufflet commented on #239
Can't be implemented as is.

[2017-05-07 15:19] #239 closed

[2017-05-07 15:26] vbatoufflet commented on #248
Sources and metrics groups should cover this matter.

[2017-05-07 15:26] #248 closed

[2017-05-07 15:30] vbatoufflet commented on #261
We don't have experience on setting up Ubuntu PPA. Contributions are welcome.

[2017-05-07 15:34] vbatoufflet commented on #242
This use-case won't be addressed as we would like to remain generic in the way of handling time series calculations.

[2017-05-07 15:34] #242 closed

[2017-05-07 15:39] vbatoufflet commented on #265
Implemented in [0.4-alpha](https://github.com/facette/facette/tree/0.4-alpha).

[2017-05-07 15:39] #265 closed

[2017-05-07 15:40] vbatoufflet commented on #251
Related to #266.

[2017-05-07 15:40] #251 closed

[2017-05-07 15:45] vbatoufflet commented on #294
Please reopen if still relevant in branch [0.4-alpha](https://github.com/facette/facette/tree/0.4-alpha).

[2017-05-07 15:45] #294 closed

[2017-05-07 15:45] vbatoufflet commented on #295
Please reopen if still relevant in branch [0.4-alpha](https://github.com/facette/facette/tree/0.4-alpha).

[2017-05-07 15:45] #295 closed

[2017-05-07 15:48] vbatoufflet commented on #299
You can't use “Show legends” to achieve this before hitting “Print”.

[2017-05-07 15:48] #299 closed

[2017-05-07 15:53] vbatoufflet commented on #305
Should be handled via `facettectl library {dump|restore} …`.

[2017-05-07 15:53] #305 closed

[2017-05-31 09:10] falzm opened #321 ""Duration" Y-axis unit"
Implement a "duration" Y-axis unit type for a better display of time-based values (milliseconds, seconds...).

[2017-06-15 23:40] tdewolff opened #322 "Installation problems on Windows"
Makefiles are the worst on Windows, so I wasn't surprised it didn't work, but trying to manually build the commands the regular way using Go gives errors such as:

```package facette/backend: unrecognized import path "facette/backend" (import path does not begin with hostname)```

But would it be possible to have a Windows version pre-build? Or how do I install this on a Windows machine?

[2017-06-16 06:48] vbatoufflet commented on #322
Hi @tdewolff,

I don't have a Windows machine in order to perform any test, so Windows is not officially supported.

But I guess the problems come from missing GOPATH values, normally handled by the Makefile.

You should try to define `GOPATH=path/to/sources;path/to/sources/vendor`, then to execute for example:
[code]

[2017-06-22 15:22] fabienrousseau opened #323 "New option to have 0 as a default value in buckets (rather than null)"
When displaying sparse time series, it is not always correctly displayed.

Two examples:
 - If there is only one point on the whole graph, it won't be displayed.
 - if there is only 10 minutes of data and time ranges for a day, it's not displayed or not well displayed)

It could be useful to consider filling buckets with "0" rather than null if there is no data.
This could be an option when creati

[2017-06-24 11:49] vbatoufflet opened #324 "Add visual feedback on lists refresh"
Add a visual feedback when clicking on “Refresh” in administration panel lists.

[2017-06-26 06:11] #91 closed

[2017-06-27 04:19] #324 closed

[2017-06-27 05:45] #316 closed

[2017-06-28 06:45] #315 closed

[2017-06-28 09:18] falzm opened #327 "Refactor KairosDB connector"
The `kairosdb` connector could be refactored using [this KairosDB client Go package](https://github.com/ajityagaty/go-kairosdb) in order to simplify the code.

[2017-06-29 06:07] falzm opened #328 "Add a visual marker when clipping graph"
In order to illustrate the clipping point of a graph, it might be useful to add a visual marker such as:

<img width="886" alt="screen shot 2017-06-29 at 08 03 04" src="https://user-images.githubusercontent.com/1122379/27673642-fd36da46-5ca1-11e7-826a-0bc76b044220.png">

Even better, give the user the ability to temporarily disable the maximum clipping by clicking on the bar (or a button) and re-d

[2017-07-10 06:22] #290 closed

[2017-07-10 11:14] vbatoufflet commented on #322
Closing this issue for now. Please reopen if needed.

[2017-07-10 11:14] #322 closed

[2017-07-10 11:18] vbatoufflet commented on #152
Starting with the > 0.4.0, the InfluxDB connector can handling mapping (see https://docs.facette.io/latest/api/providers/#influxdb) to ensure which columns should be used as source or metric.

[2017-07-10 11:18] #152 closed

[2017-07-10 11:21] vbatoufflet commented on #205
Duplicates #122

[2017-07-10 11:21] #205 closed

[2017-07-10 11:21] #16 closed

[2017-07-10 11:23] vbatoufflet commented on #71
Just labelled as “Help Wanted”. Any contribution is welcomed.

[2017-07-10 11:26] vbatoufflet commented on #244
I'll the issue for now. Please reopen if still relevant.

[2017-07-10 11:26] #244 closed

[2017-07-10 11:34] falzm commented on #288
Hey @enpm, could you have a look at the 0.4.x version [released recently](https://blog.facette.io/2017/06/21/facette-0-4-0alpha1-released-2/)? Looks like the _collection templates_ introduced in this version can solve your problem: you can create graph templates that can use a source group as template attribute – for example in the graph _title_ –, then create a collection template referencing the

[2017-07-10 11:34] #288 closed

[2017-07-11 06:47] #323 closed

[2017-07-12 05:12] #269 closed

[2017-07-26 14:51] vbatoufflet opened #329 "Add Syslog support for logging"
As the `logger` package already supports Syslog, we need to remove the hardcoded call to file output.

[2017-08-09 16:04] falzm opened #331 "Bogus time selection bounds on graphs when zooming out"
When "zooming" out the time frame of a graph, clicking on the backward arrow on the left of a graph actually goes forward in time.

[2017-08-22 09:28] jessicah opened #332 "Missing metrics with collectd"
It seems facette is only providing a small number of metrics with collectd. In Metrics list, it only lists 207, whilst I have 889 rrd files in /var/lib/collectd.

Also not sure why the metric names don't match the rrd filenames.

I have a match pattern of `(?P<source>([^/]+))/(?P<metric>([^.]+)).rrd`, but I don't see any metrics that have names matching the filenames at all. Also, files are like `

[2017-08-22 09:53] vbatoufflet commented on #332
Hi @jessicah,

Do the logs display something regarding any potential pattern matching issue? Have you tried to set `log_level` to `debug`?

[2017-08-22 10:14] jessicah commented on #332
Snapshot of output is https://gist.github.com/jessicah/d8c5fd68146d36d9c7c5b533e9571f8d

I see a lot of `Metric: "baron.haiku-os.org/value/{average/min/max}"` being added. I'm guessing that because it's not including the actual filename portion for the metric, that it's causing a metric tonne of duplicates?

[2017-08-22 10:31] jessicah commented on #332
Seems my regex wasn't matching correctly :( perhaps it should generate errors when either group results in an empty string?

Using `(?P<source>[^/]+)(?P<metric>.*)\.rrd` got it working.

[2017-08-22 10:31] #332 closed

[2017-08-22 11:12] vbatoufflet commented on #332
Indeed, it might be useful to generate an error in this case. I'll open an issue to track this improvement.

[2017-08-22 11:14] vbatoufflet opened #333 "Log error in connectors on missing source/metric"
As pointed out in #332, it might be useful to log errors if either source or metric is empty in data received in connectors.

[2017-09-24 14:19] landryb opened #334 "provide js assets in the source tarball"
just discussed this with @falzm, for 'distro' packagers itwould be super nice to provide js assets in the source tarball we grab from github so that we dont have npm/bower reaching out to internet during build - otherwise we need to repackage ourself the source tarball, manually adding the assets that were locally fetched.

[2017-09-25 06:35] vbatoufflet commented on #334
I'm fine with this idea but I'll to take a look at it to see how I can automate this as the current source tarballs available are automatically generated by Github.

[2017-09-25 06:42] landryb commented on #334
Yeah, and our build infra is able to fetch a tarball from the github tag, but that doesnt have the assets - i fully understand if you dont want to commit the assets to the repository, so maybe it's only a matter of providing a 'tarball' target in the Makefile that builds the assets and creates the source tarball. - after that, either the distributors use this target to create and host the tarball

[2017-10-03 05:31] #331 closed

[2017-10-03 05:58] vbatoufflet commented on #334
It's ok for me having such `tarball` target or similar as, indeed, I don't want to commit the assets in the repository 😄

I'll try to add this on the master branch soon.

[2017-10-04 14:45] avoine opened #335 "panic: interface conversion: interface {} is map[string]interface {}, not map[interface {}]interface {}"
I've got this error while trying to configure an influxdb provider using the mapping method.
I'm pretty sure I miss something obvious but facette won't starts anymore.
I know I'm new to this but could you show me an example of what would be the configuration
for a typical database like the ones in:

https://docs.influxdata.com/influxdb/v1.3/introduction/getting_started/

Thanks.

[2017-10-04 14:52] vbatoufflet commented on #335
Hi @avoine,

Could you please give me the version of Facette you are using and full stack trace of the panic output?

If the configuration is invalid, Facette shouldn't crash 😄

[2017-10-10 15:19] shaowin16 opened #336 "how to combine collectd to use ?"
How to combine collectd to use  in facette?
Can you give me a sample?
Thanks.

[2017-10-12 05:10] vbatoufflet commented on #336
Hi @shaowin16 ,

Since the 0.4 version, providers are now configured through the API (either programmatically or via the web UI).

Using the following snippet, you should have a pretty basic setup compatible with a common collectd configuration:
[code]

Once executed, you should see a new provider named _collectd_ at the following address: http://facette-instance/admin/providers/.

If you want to

[2017-10-18 16:36] #336 closed

[2017-10-24 23:36] gokarslan opened #337 "Aggregating different sources"
I want to aggregate metrics of a source group, but when use source groups for metrics, it puts data from different sources separately.

For example, consider I have source group `glob:node*` and I have two sources `node-1` and `node-2`, and for each of them I have metric `cpu.idle`. What I want to show on graph is a `cpu.idle` metric which is aggregation (preferably average) of `node-1.cpu-idle` a

[2017-10-25 05:22] vbatoufflet commented on #337
Hi @gokarslan,

You can perform some operations on series when grouped or when source/metric groups are present.

You have to click on the “cog” icon to do so and select ”Sum” or ”Average” as operation:

![graphs-operation_average](https://user-images.githubusercontent.com/598433/31981676-21018aec-b955-11e7-9fa5-b76a76baaeb0.gif)

Let me know if it answers your question.

[2017-10-25 22:03] gokarslan commented on #337
Hi @vbatoufflet,

Thank you very much for your answer, it answers my question for single metric with source group.  Another thing I'm curious about is what if I have a metric group and source group and I want to sum metrics on metric group for per source and then take average of them.

For example, if I have a metric group M with metrics M1, M2 and source group S with sources S1 and S2, what I wan

[2017-10-26 06:04] vbatoufflet commented on #337
That's not possible given the way it works today. All you'll we have is a resulting ”big” average or sum of all matching source/metric couples.

[2017-10-30 07:06] #337 closed

[2017-10-31 14:10] vbatoufflet commented on #335
Should be fixed by a8e1c7f53cf1f46e9a7e6c918db4b9c6d49f1deb.

[2017-10-31 14:10] #335 closed

[2017-11-09 20:41] gokarslan opened #338 "Summation of metric groups"
Hi,

I have a scenario like this:
I have a metric group G which matches metrices M1, M2, M3 and M4 and I have source group SG which matches sources S1 and S2. Metrices M1, M2 are common between S1 and S2, M3 is only from S1 and M4 is only from S2. I want to create a graph with source group: SG, and metric group: G and I'm using sum as aggregation method. However, since M3 doesn't exist for S2 and

[2017-11-17 10:48] vvromanov opened #339 "Invalid format for BUILD_TAGS specified in web site"
Page https://docs.facette.io/latest/installing/
states

You must use space instead of comma. For sample

[2017-11-17 10:57] vvromanov commented on #339
Also disable_driver_mysql disable_driver_pgsql must be used instead of disable_backend_mysql disable_backend_pgsql

[2017-11-18 06:17] vbatoufflet commented on #339
Issue duplicated in the associated repository, see https://github.com/facette/facette-docs/issues/19.

[2017-11-18 06:17] #339 closed

[2017-11-18 06:22] vbatoufflet commented on #338
Hi @gokarslan,

Which version of Facette are you testing it on? 0.3.x or 0.4.x?

[2017-11-18 06:25] vbatoufflet commented on #338
Hi @gokarslan,

Which version of Facette do you use? 0.4.0rc2 release or a build from `master`?

I'll take a look at it to see if I can reproduce the issue.

[2017-11-18 07:01] gokarslan commented on #338
I’m building from master.

[2017-11-18 16:01] vvromanov opened #340 "Prefill origin and source fields if only one origin and source exists"
Could you please fill origin and source field if only one origin and source exists

[2017-11-20 17:01] Tomasu opened #341 "Authentication/Access control"
Does facette have support for allowing multiple users with different privilege levels?

Most specifically, I'm interested in guest access that can't access the admin page.

I realise i could probably put facette behind a proxy that does http auth, and provide a basic page that embeds the graphs. Though that's a bit of a management headache.

[2017-11-20 17:13] falzm commented on #341
Hi @Tomasu

Sorry but at the moment Facette doesn't provide any user management system, so basically yes the only option is to defer access control to an upstream reverse-proxy.

[2017-11-21 10:35] jollyroger opened #342 "No URL prefix in 0.4"
After migrating to 0.4 version I have found that URL prefix parameter has been disappeared. This regression makes impossible to run facette behind any other webserver (I'm using nginx to serve static files and proxy other requests to the facette backend otherwise).

[2017-11-21 10:43] vbatoufflet commented on #342
Hi @jollyroger,

The `url_prefix` setting has been renamed `root_path`, see https://raw.githubusercontent.com/facette/facette/master/docs/examples/facette.yaml example configuration for an example.

I'll add this setting to the documentation. Sorry about that 🙂

[2017-11-21 11:01] jollyroger commented on #342
Thank you for the quick response! I have already succeeded to hardcode this in index.html but your solution is what I was really looking for!

Here is a simple Nginx config for you to include in the docs to describe this use case:

[code]

[2017-11-21 11:01] #342 closed

[2017-11-21 12:31] vbatoufflet commented on #342
The documentation has been updated: https://docs.facette.io/latest/configuration/.

[2017-11-21 13:02] jollyroger opened #343 "Aggregation function over metric group in a graph template"
Hello! Thank you for adding collection templates, that saved me a lot of time! However there are still ways to improve!

Currently I can group metrics in a graph only if they are not templated. In this case metric group can be expanded and all metrics can be arranged into groups one by one and aggregation function can be applied for such groups. I'm looking for a bit different approach:

 * create

[2017-11-26 20:00] rb07 opened #344 "How to define origins, sources, metrics?"
Hi,

After setting up facette, reading all the documentation, I can't find how to add the above.

I see them in the browse page, but selecting any of these 3 doesn't show the add '+' like the one in collections, graphs, etc.

Reading old documentation I see there was a "provider settings" file, which should have the information I'm trying to add.

Just defining the information on the graphs doesn'

[2017-11-26 22:34] rb07 commented on #344
More info I failed to see before:

The log does show that there's a problem with my configuration, I get (why is the time in GMT?):

2017/11/26 22:21:57.529510 ERROR: poller[rrdtool]: string "Envoy/Inverter3/power.rrd" does not match "\"Envoy/(?P<source>[^/]*)/(?P<metric>.*).rrd\"" pattern

No idea where the extra quotes came from.

Similar error from changing the graph definition:

2017/11/26 22:

[2017-11-27 07:25] vbatoufflet commented on #344
Hi @rb07,

You are right: the origins, sources and metrics come from the data found by the providers.

Did you configure the RRD provider `base_directory` using an absolute path?

[2017-11-27 07:48] vbatoufflet commented on #343
Hi @jollyroger,

If you create metric groups to use in templates (for example using `{{ .source }}` as source) then, without expanding, chose a aggregation/consolidation for them. Isn't the result what your are looking for?

Maybe I missed something, just let me know.

[2017-11-27 08:53] jollyroger commented on #343
Hi @vbatoufflet, If I understand you right, I just need to create multiple metric groups with a single glob pattern for each group (like one group with `glob: cpu.*.user`, another one with `glob: cpu.*.wait` and so on). Apparently what I did wrong is that I did a single metric group with all these glob patterns included instead of what you described. I thought it could be possible to (partially) e

[2017-11-27 09:50] jollyroger commented on #343
I'm sorry, I was to fast to reply. I have tried your approach and unfortunately I cannot apply aggregation/consolidation functions to a metric group when there is a template variable (llike `{{ .source }}`). Otoh, when I add metric groups with defined source, I can see all metrics inside and can apply aggregation/consolidation function to the metric group itself.

![selection_001](https://user-ima

[2017-11-27 16:49] rb07 commented on #344
Yes, the path in "provider definition" (if we are talking about the web interface: providers, then select the one, go into configuration, base directory) is an absolute path.

[2017-11-27 17:00] rb07 commented on #344
The extra quotes in the match pattern were put by me, sorry for the noise, still w/o the quotes (or any wildcards, or quoted dots):

`2017/11/27 16:57:36.008496 ERROR: poller[rrdtool]: string "Envoy/Inverter3/power.rrd" does not match "Envoy/(?P<source>)/(?P<metric>).rrd" pattern`

Seems to me "source", and "metric" has to be defined elsewhere, not in the graph, because those are literally correct

[2017-11-28 07:17] vbatoufflet commented on #344
Did you try with `Envoy/(?P<source>[^/]+)/(?P<metric>.+)\.rrd`?

As in the log message you pasted above `Envoy/(?P<source>)/(?P<metric>)\.rrd` misses some expressions in named groups `source` and `metric`.

[2017-11-28 18:14] rb07 commented on #344
Yes I did... but when I had it in quotes.

Trying it again **it works!**

I also changed the name of the provider to "collectd".

Now in the graphs I'm getting completion when I enter origin/source/power.  **Success!**

Thank you!

[2017-11-28 18:14] #344 closed

[2017-11-29 13:02] vbatoufflet commented on #344
You're welcome. Great to hear that it works.

[2017-11-29 13:06] vbatoufflet commented on #343
You should have access to the aggregation options even using `{{ .source }}` as source.

![screen shot 2017-11-29 at 14 04 00](https://user-images.githubusercontent.com/598433/33376540-59c2978e-d50e-11e7-8261-78d69eafff67.png)

Or am I missing something?

[2017-11-29 13:20] jollyroger commented on #343
Unfortunately this is not what I see:

![selection_001](https://user-images.githubusercontent.com/96645/33376992-78223842-d518-11e7-9d2a-71c95ef82ff6.png)

I have a single Glob match in `group:metric_cpu_system`, it is `glob: cpu.*.system`

Additional information: Facette version 0.4.0rc2 (Debian jessie, deb downloaded from)

[2017-11-29 13:58] vbatoufflet commented on #343
My bad, I guess I forgot to cherry-pick this change in the 0.4 branch.

As the latest RC was released quite some time ago without huge bug reports, I will release a final version soon which should include this change.

[2017-11-30 09:02] jollyroger commented on #343
Thank you, will wait for updates!

[2017-12-18 12:33] arlt commented on #266
Thanks for facette.

**Be aware that this code removes your settings and replaces it with generated defaults for collectd only**

Here is an example code (needs sqlite3, rrdinfo, curl, sudo). Adjust ist according to your needs.

[code]

[2017-12-21 06:38] vbatoufflet commented on #343
You should be able to use this now that the [0.4.0](https://github.com/facette/facette/releases/tag/0.4.0) version has been released.

[2017-12-21 06:38] #343 closed

[2017-12-23 08:20] #340 closed

[2017-12-25 18:42] landryb opened #346 "allow to derive values"
Testing 0.4.0 on openbsd (it works fine!), i've recently ported/tested with influxdb (so far only used rrd providers) and i'm missing one thing - i can't use 'derivative' from influxdb query language (cf https://docs.influxdata.com/influxdb/v1.4/query_language/functions/#derivative), and it seems when collectd sends values to influxdb the 'derivative' information (which in rrd is stored in the DS

[2017-12-25 19:17] gamersalpha opened #347 "Ubuntu server - RRD Missing data"
Hello there :

i have this error 👍

![image](https://user-images.githubusercontent.com/32466950/34342443-7619e156-e9b0-11e7-8d0c-08e16091443e.png)

this my config in facette :

Fournisseur 👍

![image](https://user-images.githubusercontent.com/32466950/34342447-8adc8fc6-e9b0-11e7-8069-7f9581c16727.png)

what is wrong please ?

[2017-12-26 12:56] vbatoufflet commented on #347
Hi @gamersalpha,
Do you have specific messages in the service logs?

[2017-12-26 12:59] vbatoufflet commented on #346
Hi @landryb,

I'll have to take a closer look at this in order to see if we can do something provider-agnostic here. Like that, it won't be that easy.

[2017-12-26 18:16] gamersalpha commented on #347
i have this :

`2017/12/26 19:16:27.294104 WARNING: http: unable to find series metric: {Name: "idle//cpu-0/cpu-idle/value/average", Origin: "idle", Source: "cpu", Metric: "/cpu-0/cpu-idle/value/average"}
2017/12/26 19:16:28.209149 WARNING: http: unable to find series metric: {Name: "memory/memory-slab_recl/value/min", Origin: "/var/lib/collectd/rrd/ubuntu/memory/", Source: "memory-free.rrd", Metr

[2017-12-27 07:15] vbatoufflet commented on #347
Do you have messages as well when you start the provider? Do you see metrics in the “Metrics” section of the administration pane?

[2018-01-03 14:30] jollyroger commented on #343
Hi!

Unfortunately nothing changed. I restarted facette and cleared the cache to be sure there was no issue but still there was no aggregation/consolidation fields in the interface.

[2018-01-05 13:02] smortex opened #348 "Inconsitent rendering when data is missing"
Hello,

I have seen this a few times but never took time to report it, so to ovoid this to be lost and maybe see that fixed some days, here are the details.

When data is missing from collectd, it seems that facette still draws something on graphs.  The resulting graph is really surprising, for example, here is the "uptime" of a node that crashed at 09:00, was rebooted at 13:30, and rebooted anoth

[2018-01-08 07:30] vbatoufflet commented on #348
Hi @smortex,

Is “Interpolate missing points” checked on the series present on the graph?

<img width="356" alt="screen shot 2018-01-08 at 08 25 13" src="https://user-images.githubusercontent.com/598433/34661983-a0b5e53e-f44d-11e7-8eed-fc05bf53c980.png">

This option is checked by default. If you unchecked it, does it have the intended behavior?

[2018-01-08 07:50] smortex commented on #348
Damned!  This option was one click away (I looked at the graphs level, not series level)…

Thanks :+1: !

I'll have to find a way to change all settings without clicking on all my series so that it fits my needs (hints are welcome, like managing facette without the admin GUI :wink: ).

[2018-01-08 07:50] #348 closed

[2018-01-08 08:07] vbatoufflet commented on #348
You can retrieve the groups data for a graph using:
[code]

After setting the `interpolate` option to `false`, you can apply the modification with a `PATCH` query:
[code]

[2018-01-08 08:12] vbatoufflet opened #349 "Improve data points interpolation option"
It would be convenient to handle missing data points better, for example:
* having a simple way to enable/disable it on a whole graph
* ensure that this option should be enabled by default (possible issue with providers having inconsistent polling interval)

[2018-01-08 08:12] vbatoufflet commented on #348
I'll try to think for a better solution for a future release (see #349).

[2018-01-08 08:44] smortex commented on #348
Well, in fact I was thinking about ways to automate graphs creations and life-cycle.  It's not very mature in my head, but as an IT automation user (Puppet), I like the idea of describing my configurations in manifests file and apply these configurations to hosts.  For now, my facette configuration only installs facette and manage the service, so all the configuration must be done by hand.  Hopefu

[2018-01-08 08:46] smortex commented on #347
FWIW, I usually see that when I restart facette: the first few requests fail that way, and after a few moments, the actual data comes back to life.

[2018-01-08 09:23] vbatoufflet commented on #348
Ahah my bad 😅

At work, I am using a custom Salt module (along with a basic Python binding) handling this for me based on hosts registered in Salt's mine.

But there is nothing quite “official” yet 🙂

Thanks for the code snippet though.

[2018-01-19 20:59] gokarslan commented on #338
Hi @vbatoufflet,

Is there any news on that issue?

[2018-01-26 17:47] gokarslan opened #350 "Influxdb connector panics when a value has ',' in it."
Influxdb connector panics when a value has ',' in it.

Example metrics from docker stats:

`architecture=x86_64,vendor=Red\ Hat\,\ Inc.,`

Program is failing at line 414:

[code]

Trace:

[2018-01-27 10:06] vbatoufflet commented on #347
I'm closing this. Please reopen if need be.

[2018-01-27 10:06] #347 closed

[2018-01-27 10:43] #350 closed

[2018-01-31 22:36] FacetteUser opened #351 "Upgrade import documentation?"
I'm trying to upgrade from a 0.3.0 install to the 0.4.0 release. After upgrading everything it appears that my entire library is gone and not imported. How does one do this? I tried to use `facettectl library dump -o dump.tgz` running a pre update snapshot, but 0.3.0 doesn't support this feature. Seems absolutely unimaginable that I would have recreate my entire setup with hundreds of graphs, temp

[2018-02-01 08:08] vbatoufflet commented on #351
In the effort of making Facette 0.4 the first official production-ready release we had to rewrite the entire back-end for stability and performance purposes.

The said rewrite made the previous file storage incompatible and as you pointed it out, the previous version of Facette didn't had the dump feature.

There is a Gist available at [this address](https://gist.github.com/vbatoufflet/885ade1d1b4

[2018-02-01 18:49] FacetteUser commented on #351
That gist, even if it's missing metric/source group, is definitely what I was looking for, merci beaucoup!

Would be great if something like this was included in facettectl to ease migration, maybe migration could be detected automatically on new installs and the user prompted in the front-end to do this automagically?

I'm closing the ticket as you've resolved my issue for the most part.

[2018-02-01 18:49] #351 closed

[2018-02-03 15:40] falzm opened #352 "Authentication/access control support"
Add support for authentication and access control in Facette. First iteration will support:

* Login/password based authentication
* Role-Based Access Control (global, no namespacing): admin (read/write) vs viewer (read-only)
* Users storage in internal backend

[2018-02-03 15:42] falzm commented on #341
Closing this issue as a dedicated feature request issue (#352) has been created.

[2018-02-03 15:42] #341 closed

[2018-02-03 15:53] falzm opened #353 "Prometheus support"
Prometheus exposes an [HTTP RESTful API](https://prometheus.io/docs/prometheus/latest/querying/api/), could be nice for Facette to support it with a new catalog provider.

[2018-02-03 20:51] vbatoufflet commented on #327
Cancelled. We'll keep our connector as it is.

[2018-02-03 20:51] #327 closed

[2018-02-04 08:23] vbatoufflet opened #354 "Switch graph rendering from SVG to canvas"
For performance purpose, we need to stop using SVG rendering in d3 and move to HTML5 canvas.

[2018-02-18 07:45] vbatoufflet commented on #338
Hi @gokarslan,

After few tests I did reproduce your issue.

While I was able to fix the normalization error preventing the summation (see b2ddcd0ca0bf29a3bb40a487e289a726accdbf0b), the warnings will remain in the logs and will need some additional work.

You should be able to sum those series now. Don't hesitate to reopen if I forgot something.

[2018-02-18 07:45] #338 closed

[2018-03-04 10:57] jollyroger commented on #343
Sorry for the late reply.

For all others who did not spot this feature at first sight: when a new graph is created using metric groups, by default the second configuration tab is opened:

![2018-03-04-124039_821x319_scrot](https://user-images.githubusercontent.com/96645/36944665-d84af584-1fa9-11e8-8c0d-1f44f9dd0128.png)

To set the aggregation/consolidation features you have to switch to the firs

[2018-04-03 09:23] falzm commented on #353
Implementation started in the [prometheus branch](https://github.com/facette/facette/commits/prometheus).

[2018-04-24 16:12] landryb opened #356 "upload generated source tarball to assets on releases"
It would be nice to upload source tarballs for packagers on the release assets, as of now unfortunately the autogenerated ones provided by github (the 'source code' links as https://github.com/facette/facette/archive/0.4.0.tar.gz) arent guaranteed stable by github, they're generated on the fly sometimes with different toolchains producing different results and cached randomly, so one might get dif

[2018-05-06 05:58] vbatoufflet commented on #356
Hi @landryb,

I surely can add this build step in the release process.

[2018-05-09 11:40] DataBeaver opened #357 "Add option to limit the number of interpolated points"
I'd like to keep the interpolation option on so that missing one or two data points e.g. due to restarting collectd does not cause gaps in the graph.  However some of my computers are not powered on all the time and I don't want interpolation over a longer downtime like being shut down for the night.  Could you add a field to specify the maximum number of missing data points to interpolate over?

[2018-06-21 11:10] arlt opened #358 "sub-collections not shown when using collections/alias"
Example folder structure of my rrds (compact version):

[code]

I create the facette config this way from these rrds (you can see the script the end of #266):

- create all graphs (all rrds)
- create level 1 collection for each fqdn
  - "alias" is set to the fqdn
  - with entries: two graphs (load+memory-free)
- create level 2 collection for each rrd-folder (e.g. load memory)
  - "parent" is set t

[2018-06-23 12:00] lucav31 opened #359 "Compiler error"
When I follow the installation instructions I get following error from make:

A quick google search didn't help, I hope you know what the problem is.

[2018-06-25 08:38] vbatoufflet commented on #359
Hi @lucav31,

Which version of Go did you use for building?

[2018-06-25 10:00] vbatoufflet commented on #358
Hi @arlt,

You should have the same behavior using either an ID or an alias. I'll take a look and try to reproduce it.

[2018-07-21 16:45] falzm commented on #358
@arlt thank you for reporting this bug, this problem should now be fixed. We'll release a new version including this patch ASAP.

[2018-07-23 09:22] falzm commented on #173
Implementation started in [branch custom-series-consolidation](https://github.com/facette/facette/tree/custom-series-consolidation).

[2018-07-23 15:05] arlt commented on #358
@vbatoufflet @falzm I am sorry, but i get the same result as before.
Tested here with Ubuntu 16.04 and the new 0.4.1-1 deb-file - recreated all with the script., restarted apache and used the browser in private mode.
Should i open a new issue or can you reopen it, please?

[2018-07-27 13:30] blainsmith commented on #227
I know this is an old issue, but I agree with @kiranos. I was hoping to use this for IoT device health and I have over 5,000 devices I can potentially collect from `collectd` and creating things by hand or having a script create them when a new host comes online is error prone. I would have a collection for every host and the same 5 graphs for every one too.

[2018-08-06 06:30] arlt opened #360 "sub-collections not shown when using collections/alias"
@vbatoufflet @falzm I am sorry, but #358 is not fixed

Tested here with Ubuntu 16.04 and the new 0.4.1-1 deb-file - recreated all with the script., restarted apache and used the browser in private mode.

[2018-08-06 07:37] falzm commented on #360
Please re-open the original issue if you claim the bug we've fixed doesn't solve your issue.

[2018-08-06 07:37] #360 closed

[2018-08-06 07:40] falzm commented on #358
Sorry to ask, but in addition to Apache have you actually restarted the Facette process itself? Can you please give us the output of the following command?

[code]

[2018-08-06 14:59] arlt commented on #358
I was not able to reopen this issue (you closed it).

https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github

But: Sorry you are right. I forgot to restart the collectd process argl :-(

Thank you very much!

[2018-08-06 14:59] #358 closed

[2018-08-06 15:06] falzm commented on #358
No worries, thanks again for bringing this issue to our attention :)

[2018-08-07 05:56] vbatoufflet commented on #359
Closing issue. Please reopen if need be.

[2018-08-07 05:56] #359 closed

[2018-08-08 13:57] falzm opened #361 "Use collection alias in the UI navigation links"
If a collection has an alias set, use it in the UI navigation links in place of the UUID.

[2018-08-08 14:11] falzm commented on #361
Implemented backend side in 5e8a3f9a769d4a593c3ddd541665084711828965.

[2018-08-09 04:57] #361 closed

[2018-08-12 07:04] vbatoufflet commented on #354
Shipped in 5ad9c21688597653474606d6686115947100861d.

[2018-08-12 07:04] #354 closed

[2018-08-12 07:32] #328 closed

[2018-08-12 10:16] #321 closed

[2018-08-12 13:53] #356 closed

[2018-08-12 13:53] vbatoufflet commented on #356
The future 0.5.0 release will come with a generated source tarball (can now be generated using `make dist-source` in the source tree).

[2018-08-12 17:03] falzm opened #362 "Add a link to documentation in the web UI"
Add an icon linking to the documentation in the web UI.

[2018-08-12 19:29] #362 closed

[2018-08-18 08:25] #49 closed

[2018-08-18 09:35] #333 closed

[2018-08-18 10:15] vbatoufflet commented on #164
Namespacing won't be implemented. We'll start with a basic RBAC, see #352 for further details.

[2018-08-18 10:15] #164 closed

[2018-09-11 12:10] #349 closed

[2018-09-12 09:35] henryx opened #363 "Akumuli support"
Akumuli is a time series database: https://akumuli.org/
Is could be a good idea to support it because is a good alternative to InfluxDB

[2018-09-12 11:31] vbatoufflet commented on #363
Hi @henryx,

This surely can be a good idea to support a large variety of back-end connectors, and I never heard about Akulumi before today 😄

Supporting this connector is not planned in the near future, but any contribution is welcomed!

[2019-01-19 14:50] mthmulders opened #366 "Building a .deb for ARMv7"
I would like to run Facette on my Raspberry Pi 3, which has an ARMv7 processor. Since there's no package available for download, I tried to build it myself. That succeeded without problems. Now, I would prefer to install it using dpkg, to have the right folder structure as well as having Facette start at boot.

At first, I did `dpkg-deb --build .` which failed because there is no `DEBIAN/` subdire

[2019-01-19 17:02] vbatoufflet commented on #366
Hi @mthmulders,

The build of Debian packages are handled through Docker build environments available [here](https://github.com/facette/buildenv).

If you take a look at https://github.com/facette/buildenv/blob/master/docker/Dockerfile.stretch-amd64 you'll have a good overview of build prerequisites.

Having the environment set up, you may simply run `make dist-deb` when building from master to ge

[2019-01-21 07:04] vbatoufflet commented on #366
Sure, if provided with a working ARMv7 Docker build environment we can add it to the releases.

[2019-01-23 10:13] mthmulders commented on #366
Will see what I can do. Currently blocked by facette/buildenv#1.

[2019-02-18 13:54] alexmiroshnychenko opened #367 "Full list of metrics when creating a graph"
Hi!
Displayed full list of metrics for "Origin" in "Define series" from different "Sources" when creating a graph. Version of Facette 0.5.0rc1. In v0.3.0 displayed metrics only for current "Source".
I am not sure if this is a self-made problem or a bug.

[2019-02-20 21:20] rshade opened #368 "308 Permanent Redirect on /api/v1"
I am going thru the initial setup and trying the auto script in #266 but my api is returning a 308. I tried just the base url and it errors also. read_only is set to false, and base_path is unset.
I did change the url from localhost to a 192 ip. Any ideas on how to fix this?

[2019-02-20 21:21] rshade commented on #368
Version: 0.5.0rc1

[2019-02-20 21:22] rshade commented on #368
`2019/02/20 21:06:40.115507 INFO: http: started
2019/02/20 21:06:40.119613 INFO: http: listening on "192.168.11.106:12003"
2019/02/20 21:06:40.121179 INFO: poller: started
2019/02/20 21:06:42.532480 DEBUG: http: received "GET /api/v1 HTTP/1.1" from 192.168.11.106:55756, returned: 308
2019/02/20 21:07:02.636144 DEBUG: http: received "GET /api/v1 HTTP/1.1" from 192.168.11.106:55758, returned: 405
20

[2019-02-24 19:07] mthmulders commented on #366
See facette/buildenv#2.

[2019-03-01 07:13] vbatoufflet commented on #368
Hi @rshade,

The API endpoints did change a bit since the script was written. The API is returning 308 for some endpoints when not called with the trailing `/`.

[2019-03-01 07:16] vbatoufflet commented on #367
Hi @alexmiroshnychenko,

I'll have to take a closer look, but I think it's due to the rewritten UI that came with the 0.4.0 version and the feature wasn't reimplemented. My bad here.

I can certainly do something about it :)

[2019-03-02 11:47] alexmiroshnychenko commented on #367
Thanks, it will be great. That was very convenient feature:)

[2019-04-16 13:02] vojtechkral opened #369 "facette difficult to setup"
Hi,
  I had a hard time setting up facette 0.4 on a build machine today. I found next to no documentation on how to hook facette up with data providers - collectd in my case. After installation, facette displayed an empty webpage. Poking around in the admin panel revealed a lot of options and dialogs but no indication whatsoever as to how to go about the configuration. After some googling I found

[2019-04-27 09:01] vbatoufflet opened #370 "Add wizard for new provider setup"
Today, the administration panel UI lacks some documentation.

To ease initial setup, it would be convenient to have a wizard-like UI when setuping new providers.

[2019-04-27 09:02] vbatoufflet commented on #369
Hi @vojtechkral,

Sadly, you didn't miss anything ;)

Today, the projects lacks some documentation about the web UI usage. It's definitively something that we plan to improve in the future.

I just opened the #370 to follow up on this.

[2019-04-27 09:03] vbatoufflet commented on #368
I'll close the issue. Please reopen if needed.

[2019-04-27 09:03] #368 closed

[2019-05-07 05:34] kousu commented on #370
Yeah! https://docs.facette.io/latest/architecture/ links "providers" to https://docs.facette.io/latest/configuration/ which doesn't say _anything_ about them, and doesn't explain how I might add some with the config file. If I'm supposed to do it through UI, the UI at `/admin/sources/` doesn't use the word "Providers" anywhere, and it also doesn't seem to have an enabled Add button. What do?

[2019-05-07 05:34] kousu commented on #370
I don't know how I feel about having a wizard, but having any way to actually use Facette would be good.

[2019-05-07 05:38] kousu commented on #369
I don't really want a UI wizard. I just want some way to use facette.

@vojtechkral can you share where you pasted the collectd config file? I can't figure it out. I don't have anywhere I could paste anything in the facette UI.

[2019-05-07 07:17] vbatoufflet commented on #369
Hi @kousu,

You can't paste the configuration as is.

That said, let's say you want to configure a new “rrd” provider.

In the _Adminitration Panel > System > Providers_, click on _Create new provider_ (see ①):

![facette-howto-rrd_img1](https://user-images.githubusercontent.com/598433/57278330-7ae1a100-70a6-11e9-968e-445574e53e07.png)

Set a name for your new provider, like “rrd” or “my-first-pro

[2019-05-08 04:36] kousu commented on #369
Ah I see! My problem was I was still on 0.3.0 because of my package mirror, so I didn't have any of those options and also I didn't have `collectd-rrdtool` installed so facette had no sources to load.

Those screenshots will help for 0.4.0+ :)

[2019-05-09 05:19] vbatoufflet commented on #369
I'll close this issue for now. Don't hesitate to reopen if need be.

[2019-05-09 05:19] #369 closed

[2019-07-23 10:10] 532910 opened #371 "no Graph after Unfold"
Before:
![image](https://user-images.githubusercontent.com/14617699/61703781-01735980-ad4b-11e9-87a8-a0cfa97ca943.png)

Folded:
![image](https://user-images.githubusercontent.com/14617699/61703791-06d0a400-ad4b-11e9-94e1-fc6970c1eade.png)

After:
![image](https://user-images.githubusercontent.com/14617699/61703809-0f28df00-ad4b-11e9-99f4-dd3556af67a6.png)

Refresh graph doesn't help.

[2019-07-23 11:00] 532910 opened #372 "complicated configuration"
I've installed facette_0.5.0rc1_stretch-amd64.deb
There are nothing about configuration process on https://docs.facette.io/

Well, I've googled old documentation https://docs.facette.io/0.3/configuration/connectors/ that describes how to add an rrd provider.

And added provider:
Name: `collectd`, Type: `rrd`, Refresh interval: `1`
Base directory: `/var/lib/collectd/rrd`, Match pattern: `(?P<source

[2019-07-23 11:41] 532910 opened #373 "graph scale issues"
1. Default Y-Axis  auto min max values scales graph from 0:
![image](https://user-images.githubusercontent.com/14617699/61709295-8e241480-ad57-11e9-928c-fc84949682ca.png)

2. Setting Y-Axis values to specific values (500, 1200) just draws red line:
![image](https://user-images.githubusercontent.com/14617699/61709397-d3e0dd00-ad57-11e9-855d-99d6d297b0bf.png)

[2019-07-24 03:24] vbatoufflet commented on #371
Hi @532910,

Thanks for reporting this! Indeed, I do reproduce the issue. I'll come up with a fix for this.

[2019-07-24 03:33] vbatoufflet commented on #373
That's definitely a bug, the Y-axis should start at the minimum value (500 here). Thanks for reporting this.

[2019-07-24 03:53] vbatoufflet opened #374 "Add view for Administration Panel resources in read-only"
Following a comment in #372. It appears that it'll be handy to have access to the existing resources available in the Administration Panel even if the instance is read-only.

Implementing a read-only view to replace the edition forms should do the trick.

[2019-07-24 03:56] vbatoufflet commented on #372
Hi @532910,

Yes Facette's setup is not as documented as it should be, see #369.

Regarding your questions:

0. If you want all your RRD data available in collections, you'll have to create graphs for them;
1. A _graph_ is the base item in Facette, it'll display the timeseries. A _collection_ is basically a group of graphs to display on a single page. Both graphs and collections can be templates (

[2019-07-24 04:50] #371 closed

[2019-07-24 04:50] #373 closed

[2019-07-25 11:13] 532910 opened #375 "left menu & mobile version"
The left menu (hamburger button) collapses back just momens after pressing it in mobile version.
Frefox mobile / chromium mobile / firefox desktop with "responsive design mode" (Ctrl-Shift-M, Web/Developer -> phone icon)

[2019-07-25 12:17] vbatoufflet commented on #375
Hi @532910,

Thanks again for reporting this. I'll take a look at it.

[2019-07-28 02:57] clarfon opened #376 "Data-browse feature"
Right now, facette is very nice if you've already defined the graphs you want to see, but personally, I'd like to just go through all the metrics and view them individually so I can decide what data I even have to decide what graphs to add to my collections.

Really, there isn't a way to do this at all and it makes starting to use the software incredibly complicated.

Right now I've defined a seri

[2019-08-04 05:37] vbatoufflet commented on #376
Hi @clarfon,

You're right, starting with Facette might me a little bit complicated.

I'm currently working on the future version of Facette (a major rewrite of both back-end and front-end parts), and this version comes with, among other things, the ability to preview series and create a chart from that preview selection:

![metrics2chart](https://user-images.githubusercontent.com/598433/62419855-

[2019-08-04 06:34] clarfon commented on #376
That looks awesome from what I can see here, so I'll let you know once I can try it out for myself. :)

[2019-08-05 01:09] 532910 commented on #371
I confirm that 0.5 works fine for me

[2019-08-05 01:20] 532910 commented on #373
I can't say it's fixed, and I see two issues here:

1. When `Minimum value` is specified the red line is shown:
![image](https://user-images.githubusercontent.com/14617699/62432218-33b38c80-b737-11e9-8583-918d491fc61a.png)

2. When `Maximum value` is `auto` then it will be graph's maximum on the shown interval. This is correct behaviour, but I'd like to see graph's maximum + 5% for example, just f

[2019-08-05 01:41] 532910 commented on #372
0. Clear
1. It's not clear why `Graph parameters/Title` turns graph into template.
2. Hmm, all `graphs` that I have become `templates` as soon as I add `Graph parameters/Title`
`+` -> `create new graph` must be `create new graph (template)`, and `create new collection` must be `create new collection (template)` for clearness!
3. Thank you!

[2019-08-05 07:35] vbatoufflet commented on #373
Hi @532910,

1. Red dashed lines are shown when the minimum/maximum value for the data points retrieved on the time interval goes below/above graph's configured boundaries. It denotes that series are kinda “cropped”.

2. I guess having a way to have some kind of +%5 (or any other value) tolerance could be implemented, I'll have to think about a proper way to do that. The fact that the Y-Axis alway

[2019-08-05 07:43] vbatoufflet opened #378 "Fix template detection in administration panes"
As pointed out by @532910 in #372, template markups detection is broken.

Just adding a title _Graph parameters > Title_ detects the graph as a template with incorrect keys detection `[object RegExp String Iterator]`.

[2019-08-05 07:44] vbatoufflet commented on #372
Graphs and collections should turn into templates only when templating markups are detected. Having it triggered when you add a title is certainly not the intended behavior.

I just opened the #378 issue to handle its fix.

[2019-08-05 08:09] #378 closed

[2019-08-05 08:48] #375 closed

[2019-08-05 10:28] 532910 commented on #373
1. I agree that some signs should be shown when the graph is really cropped. But it's not cropped on the screenshot above.

Should I open separate issues for 1 and 2 ?

[2019-08-05 10:30] 532910 opened #379 "create new graph/collection -> create new graph/collection (template)"
Please add `(template)` to `create new graph/collection`.

`create new graph` -> `create new graph (template)`
`create new collection` -> `create new collection (template)`

[2019-08-05 15:30] vbatoufflet commented on #373
Yes, it would be great. Thanks!

[2019-08-05 15:34] vbatoufflet commented on #379
Hi @532910,

You mentioned this in another issue, but I'm not quite sure to understand what should be changed here.

A graph or a collection is considered being a template once markups are detected in certain fields.

You want separate menu entries, to specify that you'll create a template and abadon markup detection? If yes, how to handle a graph becoming a template in the future if we add a mark

[2019-08-05 20:44] 532910 commented on #379
![image](https://user-images.githubusercontent.com/14617699/62493944-fc96b700-b7da-11e9-869d-67d3dbea2f35.png)
![image](https://user-images.githubusercontent.com/14617699/62493949-fef91100-b7da-11e9-9d4a-a3846ee783b9.png)

[2019-08-05 23:25] 532910 opened #380 "Graph's `Minimum value` auto is zero"
`auto` for `Minimum value` is zero hardcoded.
`auto` should be the minium of shown interval.
https://user-images.githubusercontent.com/14617699/62432401-2cd94980-b738-11e9-82e8-dc4ce70e492a.png

[2019-08-05 23:39] 532910 opened #381 "graph's vertical space"
Graph's auto Maximum/Minimum should be a few percents larger/lesser, just for nice look.
![image](https://user-images.githubusercontent.com/14617699/62501275-c82ef500-b7f2-11e9-9f28-f53b2b9dc919.png)

[2019-08-05 23:43] 532910 opened #382 "When Maximum/Minimum value is specified the red line is shown"
https://user-images.githubusercontent.com/14617699/62432218-33b38c80-b737-11e9-8583-918d491fc61a.png

Possibly it's a good idea to show this line when Maximum/Minimum value is specified _and_ graphs is cropped. But it should not be shown when graphs is not cropped.

[2019-08-06 07:56] #366 closed

[2019-08-06 07:57] vbatoufflet commented on #366
Future releases will ship this architecture.

[2019-08-09 06:26] yurivict opened #383 "Build failds: cannot use *"github.com/...".Graph literal as type *"github.com/..." .Graph in field value"
Build fails on FreeBSD:

[code]

go-1.12.6,1                    Go programming language
go14-1.4.3_3                   Go programming language

[2019-08-09 07:32] vbatoufflet commented on #383
Hi @yurivict,

Did you try compiling with sources located in `/usr/ports/misc/facette/work/src/facette.io/facette` instead of `…/github.com/facette/facette`?

Facette sources use a facette.io vanity import and those errors often trigger when there is a mismatch between the location of the sources in the GOPATH and the packages present in the `vendor` folder.

[2019-08-10 01:25] clarfon opened #384 "base_path/api/v1 doesn't work"
Right now, `base_path` applies to the UI, but doesn't actually accept API connections. If I proxy facette to `localhost:8080/facette`, the UI will try to access `localhost:8080/facette/api/v1` and this will simply return the HTML UI instead of the API endpoint.

[2019-08-10 09:04] #384 closed

[2019-08-10 09:05] vbatoufflet commented on #384
Hi @clarfon,

Thanks for pointing this out! This is now fixed.

I'll will ship the fix in the 0.5.1 release.

[2019-08-10 10:53] 532910 commented on #375
0.5.1 works fine!

[2019-08-10 19:42] clarfon commented on #372
So I figured I'd post here because I figure it makes the most sense:

1. Are origins and providers not 1-1? Because collectd stores a hostname alongside metrics as part of the path and I feel like if origins and providers aren't the same, this should be included in Facette.
2. It seems like I'm almost always going to be using `(?P<source>[^/]+)/(?P<metric>[^/]+).rrd$` as the match pattern, so, I d

[2019-08-11 06:08] vbatoufflet commented on #372
Hi @clarfon,

Regarding your questions:

1. Most of the time they are 1-1 (e.g. RRD, KairosDB, Graphite). When you configure a provider it will result in defining only one origin. The exception here is when you configure a _Facette_ type provider, which will rely on another Facette instance that could provide multiple origins.
2. Indeed, those are good defaults when your RRD files come from Collec

[2019-09-01 01:43] clarfon opened #385 "Timeout on /api/v1/series/points"
I'm using rrdcached as a provider and whenever I try to load the graphs, it times out through nginx. Unfortunately, I don't see anything in the error logs that would indicate that facette failed, so I assume that it's just not timing out on the backend. If rrdcached is taking a while then the request should return an error and time out instead of having to time out through another source (e.g. rev

[2019-09-01 05:44] clarfon opened #386 "Natural sorting of sources and metrics"
Right now, the source `cpu-10` comes before `cpu-2`. In general, whenever there's a number in the middle of a source or metric, it should be sorted numerically rather than lexicographically.

There are all sorts of names for this kind of scheme, and "version" sorting is sometimes used instead of "natural" sorting. But either way, this would be nice to have!

[2019-09-03 03:19] clarfon opened #387 "Allow minutes and hours for durations"
Right now, only seconds and subdivisions of seconds (e.g. milliseconds) are supported.

[2019-11-13 06:48] sstallion opened #388 "Rename Series Names"
While working on setting up facette for my local network, I haven't been able to find a way to rename the series names to more meaningful values similar to play.facette.io (screenshot attached). Is it possible to do this through the UI? The below example visualizes load averages and I can't seem to figure out a way to relabel.

![example](https://user-images.githubusercontent.com/5983112/68739805-

[2019-11-13 07:14] vbatoufflet commented on #388
Hi @sstallion,

When editing your graph, in the series list you can click on the cog icon near the series you want to edit:
![Screenshot_2019-11-13 New graph – Administration panel – Facette](https://user-images.githubusercontent.com/598433/68741246-6b12be80-05ed-11ea-9cd5-6871a40e71ec.png)

Once done you'll be able to set its name:
![Screenshot_2019-11-13 New graph – Administration panel – Facett

[2019-11-13 07:17] vbatoufflet commented on #383
I'm closing the issue. Please reopen if need be.

[2019-11-13 07:17] #383 closed

[2019-11-13 07:26] vbatoufflet commented on #385
Hi @clarfon,

Sorry for the delay here. I didn't had much time to look at it. I'll try to reproduce it having a misconfigured rrdcached and make sure to handle it more safely :)

[2019-11-13 07:28] vbatoufflet commented on #386
Hi @clarfon,

Old version of Facette once had this feature. I didn't manage to reimplement it now we switch to a SQL-based storage with pagination support.

I'll look at what are the possibilities and what could be done for this.

[2019-11-13 13:40] sstallion commented on #388
Perfect. Thanks!

On Wed, Nov 13, 2019, 1:14 AM Vincent Batoufflet <notifications@github.com>
wrote:

[2019-11-13 15:43] #388 closed

[2019-11-14 01:29] clarfon commented on #386
Presumably, it could be done with a fancy `ORDER BY` expression, or alternatively, a column with a pre-normalised value that can be sorted lexicographically. I'd offer to help code a solution but don't want to offer something that might be incompatible with the next-version changes you have in store.

[2019-11-14 01:29] clarfon commented on #385
No worries! Life happens. :)

[2019-11-15 22:01] sstallion opened #389 "Duration reports NaN with base set to "s""
I have a series of metrics which are guages reported in seconds. When I add a graph with the metric type set to "Duration" and the base set to "s", the graph reports NaN for all values. If I change the base to anything else (eg. "ms" or "ns"), the NaN is resolved however the scale is incorrect, which is expected.

[2019-11-16 16:57] sstallion commented on #346
Somewhat related, but I have some older SNMP targets that report memory usage in terms of free and total. I'd like to be able to specify a derived used metric that is the difference of the total and free metrics.

[2020-04-10 11:04] OldhamMade opened #392 "Test & verify connection with provider"
It would be great if there was a checkmark next to the provider name on the providers list which signified that the connection had been established and that data was being received.

[2020-04-10 13:07] vbatoufflet commented on #392
Did think of something similar some time ago but I had no clear idea about a proper way to implement it 😅

That could be a great addition for providers management. Thanks for the suggestion!

[2020-04-10 13:09] OldhamMade commented on #392
While you consider how to implement, more docs on provider setup would be very helpful. Good defaults for the existing providers would help with this also.

[2020-04-10 13:18] vbatoufflet commented on #392
There is certainly quite room for improvement, but didn't really had much time to spend on Facette lately.

But I started to work on major back-end changes and UI redesign including (but not limited to) improvements to providers management (e.g. placeholders highlighting defaults or providing example values and help tooltips).

Sadly, it's still not usable at its current state.

[2020-04-27 23:58] sbrl opened #393 "Suggestion: Ctrl + Click to drag graphs left and right"
I haven't installed it yet, but I was check out the demo with a view to replacing [CGP](https://github.com/pommi/CGP), which is now no longer supported as far as I can tell.

However, I noticed that the UI for navigating left and right on graphs feels very clunky. I suggest that by holding control, you should be able to drag the graph left and right.

[2020-04-28 17:22] vbatoufflet commented on #393
Hi @sbrl,

Thanks for the suggestion.

I get that the sliding buttons might not be ideal, I'll keep this issue opened for future improvement.

However it might be not that easy task as the charts are canvas-rendered images and that might need some pretty huge changes to handle that.

But I like the idea though!

[2020-04-30 20:00] sbrl commented on #393
Ah, I suspected that. Still, it would be a great enhancement to have!

[2021-05-03 12:12] valyala opened #394 "Add ability to build graphs from VictoriaMetrics data"
[VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics/) is a monitoring system and time series database. It supports various data ingestion protocols, including Graphite, OpenTSDB, Influx line protocol, Prometheus remove write, Prometheus text exposition format, JSON and CSV - see https://docs.victoriametrics.com/#how-to-import-time-series-data .

VictoriaMetrics supports querying d

[2021-05-10 05:00] vbatoufflet commented on #394
Hi @valyala,

That's clearly something in my to-do list. The next version of Facette is planned to support querying data via Prometheus API but I haven't had much time to work on it lately.

[2021-09-24 12:49] akohlbecker opened #395 "out of memory"
After starting the service facette eats up ~  19GB RAM and terminates with `fatal error: runtime: out of memory`

Please find thew corresponding systemlog attached to this ticket.
[facette-outofmem.log](https://github.com/facette/facette/files/7225703/facette-outofmem.log)

[2021-09-27 18:20] vbatoufflet commented on #395
It clearly looks like a nasty memory leak.

Just to try to pinpoint what's going on. You're using RRD provider right, and you just let the service run with a refresh interval (if yes what was the value)?

[2021-09-27 19:45] akohlbecker commented on #395
Hi Vincent,

yes I am using the RRD provider. The refresh interval for the UI is set to 10s, this is default I guess.
As far as I know there is no other refresh interval setting, or did I miss something?

The memory leak occurs purely on startup of the server, even if it is running completely without any client interaction.
I assume it initially scans the rrd sources and the memory leak occurs in

[2021-09-27 20:45] vbatoufflet commented on #395
Sadly, there is no pprof endpoint on Facette to help gathering information on this leak.

I'll try to reproduce and build a custom version with such endpoint.

Regarding the refresh interval, I was talking about the one from the provider definition (default is `0`, i.e. no refresh):

![Screenshot 2021-09-27 at 22-41-43 New provider – Administration panel – Facette](https://user-images.githubuserco

[2021-09-27 21:29] vbatoufflet commented on #395
hey @akohlbecker,

Quick additional questions:
1. Do you have any symbolic links in your RRD folders, and is there any possible symlink loop (this case is indeed not handled)?
2. Did you try running Facette in debug mode (see https://github.com/facette/facette/blob/master/docs/examples/facette.yaml#L6) to see if there is something weird in the logs?

Regards,
Vincent

[2021-09-27 21:46] akohlbecker commented on #395
The refresh interval for the rrd provider was set to `10` . After setting this to `500` facette seems to behave normally.
These are milliseconds, not seconds as I was assuming originally, right?

I will report long term results from this settings change tomorrow.

[2021-09-27 22:01] vbatoufflet commented on #395
This setting unit is seconds: https://docs.facette.io/latest/api/providers/#create-a-provider

It would be surprising that raising this interval fixes the issue. It might take longer to trigger though.

[2021-09-28 08:09] akohlbecker commented on #395
Hi Vincent,

your expectation was correct, the memory consumption has increased over night and is now at about 10 GB.

I checked the rrd folders for symlinks and found none.

The debug log contains many entries like these (ellypsed here):

[code]

apart from these 588313 lines after running facette for 10 minutes with an rrd provider refresh interval of 500,  the log only has these entries:

[code

[2021-09-28 09:22] vbatoufflet commented on #395
Which version are you running, the latest release or a build from `master`?

What's your platform/architecture, linux/amd64?

I built a custom version yesterday having a pprof HTTP endpoint that might would allow us to visualize heap usage while running the service. I'll try to push it in a dedicated branch tonight but I can build the binary for you to test if you want.

[2021-09-28 10:51] akohlbecker commented on #395
I am running version  0.5.1 on linux/amd64 (4.9.0-15-amd64 #1 SMP Debian 4.9.258-1 (2021-03-08) x86_64 GNU/Linux)

It would be great if you could build the binary for me.

TNX
Andreas

[2021-10-05 06:49] vbatoufflet commented on #395
Hi @akohlbecker,

Sorry for the delay here.

I just pushed changes to a dedicated branch that registers debugging pprof endpoints to the web server, see 593ce3f78281a0e2c6606873abae32322ae8e050.

Here comes a .deb file embedding those changes (note: had to gzip it to make GitHub accept it 🤷 ):
[facette_0.6.0-0~git20211005.593ce3f7_amd64.deb.gz](https://github.com/facette/facette/files/7283403/face

[2021-10-11 12:15] akohlbecker commented on #395
Hi Vincent,

thank you for the binary.

BTW: Since I've set the  refresh interval for the rrd provider to  500 I no longer have problems.

In installed the debug build anyway and here is the pprof output:
[facette-heap.out.gz](https://github.com/facette/facette/files/7322274/facette-heap.out.gz)

Cheers
Andreas

[2022-03-04 20:28] Hornochs opened #396 "Looking for an example for InfluxDB 1.8 connection"
Hey there,
so I searched for some issues here and the doc, but I can't find any working example. I entered the hostname including port of my Influx instance, username, pass and firewall. But it won't collect any data. Can someone tell me what I'm missing?

Thanks!

Cheers

[2022-03-08 08:17] vbatoufflet commented on #396
Hi @Hornochs,

The documentation is quite sparse regarding InfluxDB on Facette, but parameters are documented here: https://docs.facette.io/latest/api/providers/#influxdb

Do you have any error or warning in the logs?

You might want to raise the log level to `"debug"` (if not already done) as it might give additional information (see https://github.com/facette/facette/blob/master/docs/examples/fa

[2022-03-08 09:26] Hornochs commented on #396
Hey there,
here are the logs:

[code]

with following Settings:

![grafik](https://user-images.githubusercontent.com/63955136/157207693-2c2e4ef4-891b-4aef-835d-9f1e0bc47df3.png)